<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
       <add key="Product" value="[product version]" />
       <add key="Version" value="1.0.0.0" />
       <add key="PostgresUser" value="postgres" />
       <add key="PostgresPassword" value="password" />
       <add key="PostgresPort" value="5433" />
       <add key="PostgresDatabase" value="iqfeed" />
   </appSettings>
</configuration>
